*{
    padding: 0px;
    margin: 0px;
    
}

body{
     
    scroll-behavior:smooth ;
    overflow-x: hidden;
    

}


.navbar{
    width: 100vw;
    height: 100px;
    background: linear-gradient(rgba(0, 18, 51, 1),rgba(0, 255, 255, 0));
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    z-index: 2;
    /* border: 2px solid white; */

}

.navbar .logo{
    /* border: 2px solid white; */
    width: 150px;
    height: 100px;
    background-image: url(assets/logo2.png) ;
    background-position: center;
    background-size: cover;
    position: absolute ;
    top: 5px;
    cursor: pointer;

}

.navbar .tabbar{
    /* border: 2px solid white; */
    width: 30vw;
    height: 50px;
    left: 35vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    font-family: 'Gabarito', sans-serif;

}

.tabbar a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.tabbar a:hover{
    color: rgb(24, 153, 228) ;
}

.log{
    /* border: 2px solid white; */
    width: 230px;
    height: 100px;
    position: absolute;
    right: 35px;
    display: flex;
    justify-content:space-around;
    align-items: center;

}
.log a{
    text-decoration: none;
    
    font-family: 'Gabarito', sans-serif;
}

.buy{
    color: white;
    padding: 7px 8px;
    background-color: rgb(24, 153, 228);
    transition: 0.2s;
}

.buy:hover{
    background-color: rgb(0, 108, 170);
}


.login{
    color: rgb(127, 208, 255);
    transition: 0.2s;
}

.login:hover{
    color: white;
}

.land{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.background{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 18, 51, 0.8), rgba(0, 0, 0, 0.9)),url(assets/wp.jpg);  
    background-position: center;
    background-size: 1920px;
    
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    

    /* border: 2px solid red; */
    
}

.nowshowing{
    height: 100vh;
    width: 100vw;

    background-color: blueviolet;
    /* border: 2px solid red; */
}

/* .slider{
    width: 83vw;
    top: 20px;
    position: relative;
    
    

}

.wrapper{
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    position: absolute;
    display: flex;
    overflow-x: scroll;
    

}

.wrapper::-webkit-scrollbar{
    display: none;
}

.wrapper img{
    scroll-snap-align: start;
    display: block;
    object-fit: cover;
    object-position: center;
    transition: 1s ease;
    
}
.wrapper img:first-child{
    margin-left: 0;
}

.navbuttns img{
    position: absolute;
    z-index: 3;
    top: 45%;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
    padding: 10px 20px;
    backdrop-filter: blur(5px); 
}
.navbuttns img:hover{
    opacity: 0.8;
}

#arrowb{
    left: 40px;
}
#arrowf{
    right: 40px;
} */


.container{
    /* border: 1px solid red; */
    width: 90%;
    margin: 0px auto;
    display: flex;
        justify-content: center;
        /* align-items: center; */
    


}

.carousel{
    /* border: 1px solid red; */
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slider{
    /* border: 1px solid red; */
    height: 100%;
    width: 300%;
    display: flex;
    transition: 0.5s ease-in-out;
    transform: translateX(00%);
    
}

.slides{
    /* border: 1px solid blue; */
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transform: translateX(00%);
    box-sizing: border-box;
    
}

#slide1{
    background-image: url(assets/bg1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#slide2 {
    background-image: url(assets/bg3.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#slide3 {
    background-image: url(assets/bg2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbttns{
    position: absolute;
    z-index: 3;
    top: 50%;
    transform: translateY(-32px);
    cursor: pointer;
}

.arrow{
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;
}
.arrow:hover{
    opacity: 0.8;
}

.arrow.back{
    position: absolute;
    right: 40vw;
}
.arrow.foward{
    position: absolute;
    left: 40vw;
}